.App {
  background-color: #1a2639;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 20vh;
  margin-right: 20vh;
}

.App-title {
  display: flex;
  background-color: #d9dad7;
  width: 100%;
  color: #393e46;
  flex-grow: 0.05;
  justify-content: center;
  align-items: center;
}

.App-player {
  display: flex;
  background-color: #3e4a61;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.App-logs {
  background-color: #1a2639;
  width: 100%;
  color: #d9dad7;
  flex-grow: 0.1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
