
.Player {
  display: flex;
  background-color: #3e4a61;
  color: white;
  flex-direction: column;
  flex-grow: 0.8;
  width: 100%;
}

.Player-controls {
  display: flex;
  background-color: #c24d2c;
  width: 100%;
  color:  #eeeeee;
  align-items: stretch;
}

.Player-video {
  display: flex;
  background-color: #3e4a61;
  flex-grow: 0.8;
  justify-content: center;
  align-items: center;
 
}

.Player-logs {
  display: flex;
  flex-direction: column;
  background-color: #1a2639;
  width: 100%;
  color: #d9dad7;
  flex-grow: 0.3;
}
