
.Player {
  display: flex;
  background-color: #3e4a61;
  color: white;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.Player-controls {
  display: flex;
  background-color: #c24d2c;
  width: 100%;
  color:  #eeeeee;
  align-items: stretch;
}

.Player-video {
  display: flex;
  background-color: #3e4a61;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
 
}
